/* 任务列表、无序列表——图标 */
.protyle-wysiwyg [data-node-id].li>.protyle-action svg {
    width: 16px;
    height: 16px;
    top: 9px;
}
/* 有序列表——图标——调整位置 */
.protyle-wysiwyg [data-node-id][data-subtype="o"].li>.protyle-action{
    top: 4px;
}
