/* 任务列表、无序列表——图标 */
.protyle-wysiwyg [data-node-id].li>.protyle-action svg {
    width: 16px;
    height: 16px;
    top: 9px;
}
/* 有序列表——图标——调整位置 */
.protyle-wysiwyg [data-node-id][data-subtype="o"].li>.protyle-action{
    top: 4px;
}
/* 代码块折叠后的高度 */
.code-block[fold="1"] {
    min-height: 140px;
}
/* 列表视图——前面的复选框 */
.av__firstcol.av__colsticky {
    visibility: hidden;
}
/* 更多 */
span.b3-chip.b3-chip--info.b3-chip--small[data-type="block-more"] {
    visibility: hidden;
}
/* 画廊视图 */
.av__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
    width: 100%;
}
.av__container {
    overflow-x: auto;
    overflow-y: hidden;
    cursor: auto;
}
.av__gallery-item {
    border: 1px solid var(--b3-border-color);
    border-radius: var(--b3-border-radius);
    display: flex;
    flex-direction: column;
    position: relative;
}
.av__gallery-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: center;
}
/* 开启【自适应图片大小】 */
.av__gallery-img--fit {
    object-fit: contain;
}
.av__gallery-cover {
    border-bottom: 1px solid var(--b3-border-color);
    border-radius: var(--b3-border-radius) var(--b3-border-radius) 0 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.av__gallery-fields {
    border-radius: 0 0 var(--b3-border-radius) var(--b3-border-radius);
    flex: 1;
    white-space: nowrap;
    font-size: 85%;
    min-height: 23px;
    padding: 5px;
}
.av[data-av-type=gallery] .av__cell {
    border-right: none;
}
.av__header .layout-tab-bar .item__graphic {
    height: calc(1.625em - 10px);
    width: calc(1.625em - 10px);
    padding: 10px 5px 10px 8px;
    line-height: calc(1.625em - 10px);
    font-size: inherit;
    text-align: center;
}
.layout-tab-bar .item__graphic {
    padding: 4px 0 4px 8px;
    height: 14px;
    width: 14px;
    flex-shrink: 0;
    line-height: 1em;
}
/* 数据库标题——下划线  */
.av__title {
    border-bottom: 1px solid var(--b3-theme-surface-lighter);
}
.av__colsticky.av__firstcol, .av__colsticky>div:not(.av__cell--select):not(.av__cell--active) {
    background-color: transparent;
}
.av__row--header, .av__row--footer {
    background-color: transparent;
}
/* 底部——计算栏 */
.av__calc.av__calc--ashow {
    white-space: normal;
    border-right: 1px solid var(--b3-theme-surface-lighter);
}
/* 卡片尺寸*/
.av__gallery--small {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.av__gallery--big {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
/* 卡片宽高比 */
.av__gallery-cover--0 {
    aspect-ratio: 16 / 9;
}
.av__gallery-cover--1 {
    aspect-ratio: 9 / 16;
}
.av__gallery-cover--2 {
    aspect-ratio: 4 / 3;
}
.av__gallery-cover--3 {
    aspect-ratio: 3 / 4;
}
.av__gallery-cover--4 {
    aspect-ratio: 3 / 2;
}
.av__gallery-cover--5 {
    aspect-ratio: 2 / 3;
}
.av__gallery-cover--6 {
    aspect-ratio: 1;
}
/* 在iframe中，点击交互后，鼠标滚轮无法滚动页面 */
body:hover {
    box-shadow: 0px 0px 0px transparent;
}
/* 数据表格——隐藏复制按钮 */
.av span.block__icon[data-type="copy"] {
    display: none;
}
/* 属性视图——关联 */
.av__cell--relation {
    margin-right: 12px;
}
/* 属性视图——表格——分组标题 */
.av__group-title {
    position: sticky;
    left: 0;
    clear: both;
    margin: 8px 0 8px 0;
    display: flex;
    align-items: center;
    background-color: var(--b3-theme-surface);
    border-radius: 3px;
}
/* 属性视图——表格——分组条目计数 */
.av__group-counter {
    font-size: 80%;
    color: var(--b3-theme-on-surface-light);
    margin: 0 8px;
}

.av__gallery-tip img:first-child, .av__gallery-tip svg:first-child, .av__gallery-tip svg.ariaLabel, .av__gallery-name img:first-child, .av__gallery-name svg:first-child, .av__gallery-name svg.ariaLabel {
    height: 1.625em;
    width: calc(1.625em - 10px);
    margin: 0 5px 0 0;
    font-size: 1em;
    vertical-align: bottom;
}
.av__gallery-name {
    opacity: .38;
    padding: 2px 4px;
    width: 100%;
    white-space: normal;
    box-sizing: border-box;
}
.av {
    display: flex;
    max-width: 100%;
}
/* 看板 */
.av__kanban-group .av__group-title {
    padding-top: 0;
}
.av__kanban {
    overflow: auto;
    gap: 16px;
    padding: 10px 1px;
    display: flex
;
    align-items: flex-start;
}
.av__kanban-group {
    width: 260px;
    padding: 8px;
    border-radius: var(--b3-border-radius);
    position: relative;
    flex-shrink: 0;
}
.fn__ellipsis {
    word-break: break-all;
    -webkit-line-clamp: 1;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: block;
}
.av__gallery-fields .av__cell {
    padding: 2px 4px;
    border-right: 0;
    min-height: calc(1.625em + 4px);
}
.av__kanban-group--small {
    width: 180px;
}

.av__kanban-group--big {
    width: 320px;
}